/*import google fonts*/
@font-face {
font-family: 'anton';
src: url(../fonts/anton.ttf);
}
@font-face {
font-family: 'varela';
src: url(../fonts/varela.ttf);
}
/*page body*/
html, body{
  background-color: #ffffff;
  color: #000000;
  height: 100%;
}
/*side navbars*/
.nav-wrapper{
  display: flex;
  width: 100%;
}
#sidebar{
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: transparent;
  background-image: url("../img/cover.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-size:3000px;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active{
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#sidebar .sidebar-header {
  padding: 20px;
  background: transparent;
}
#sidebar ul.components {
  padding: 20px 0;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  color: #ffffff;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: rgba(255, 0, 0, 0.4);
  text-decoration: none;
}
.active-page{
  background: rgba(255, 0, 0, 0.4);
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: transparent;
}
a, a:hover, a:focus {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}
ul ul a {
  font-size: 0.95em !important;
  padding-left: 25px !important;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}
/*cover navbar*/
.cover-nav{
  color: #ffffff;
  width: 100vh;
  justify-content: center;
}
.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
}
.nav>li>a{
  max-width:inherit;
}
.nav{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'varela', sans-serif;
  font-weight: bolder;
}
/*text*/
h1{
  text-transform: uppercase;
  font-family: 'varela', sans-serif;
  font-weight: lighter;
  font-size: 3em;
}
h3{
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'varela', sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}
p{
  font-size: 1em;
  font-family: 'varela', sans-serif;
}
ul li{
  font-family: 'varela', sans-serif;
  font-size: 16px;
}
a{
  color: #ffffff;
  text-decoration: none;
}
a:focus, a:hover {
  color: #000000;
  text-decoration: none;
}
.white-font{
  color: #000000;
}
/*containers*/
.content{
  padding: 5px 25px 5px 140px;
  max-width: 1920px;
}
.break{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container{
  padding: 0 0 0 0;
  width: 100%;
}
.row{
  margin: 0 0 0 0;
}
.sectiontitle{
  text-transform: uppercase;
  font-size: 28px;
  color:#000000;
}
.bgcolor{
  background-color: #815262;
  color: #fffffff;
}
/*cover page*/
.cover-hero{
  background-image: url("../img/cover.jpg");
  background-position: center center;
  color: #ffffff;
  background-color: #ffffff;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  padding-top: 25vh;
}
.cover-text{
  color: #ffffff;
  background-color: rgba(255, 0, 0, 0.4);
  width: 75%;
}
/*circles*/
.circle {
  display: inline-block;
	width: 16px;
	height: 16px;
  border: solid 3px #dbc0c9;
	border-radius: 50%;
  float: right;
  margin-right: 10px;
}
.circle.filled {
  background-color: #dbc0c9;
}
.circle:first-of-type {
  margin-right: 30px;
}
/*featured works section*/
.work-text, .work-js{
  font-size: 16px;
  font-family: 'varela', sans-serif;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 0 5px 0 5px;
}
.work-title{
  color: #815262;
}
.work-subtitle{
  font-size: 20px;
  padding-top: 10px;
}
.image-size{
  position: relative;
  width: 100%;
}
.item:hover .work-text{
  display: block;
}
/* featured work grid*/
.item{
  margin: 0;
  padding-bottom: 10px;
  position: relative;
}
.block{
  margin: 0;
  padding: 5px;
}
.link{
  color: #ff0000;
}
/*Contact*/
footer{
  padding-bottom: 20px;
}
.contact-container{
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}
label, input{
  font-family: 'varela', sans-serif;
  font-size: 16px;
}
input{
  width: 25vh;
}
label{
  width: 100vh;
}
form{
  margin: auto;
}
.submit{
  background-color: #ffffff;
  border: 2px #000000 solid;
  width: 25vh;
}
/*animations*/
.fadeInUp{
  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: one;
}
/*typed js css*/
.typed-cursor{
	visibility: hidden;
    opacity: 1;
    font-weight: 100;
    font-size: 20px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #2c2c2c;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*works section js text overlay*/
$('.work-text').hide().removeClass('work-text').addClass('work-js');

$('.item').hover(function(){
    $(this).find('.work-js').fadeToggle();
});

$(".link").click(function(e){
    e.preventDefault();
    $(".image-size").fadeIn(300,function(){$(this).focus();});
});

$('.close').click(function() {
   $(".image-size").fadeOut(300);
});

$(".image-size").on('blur',function(){
    $(this).fadeOut(300);
});
