/*import google fonts*/
@font-face {
font-family: 'anton';
src: url(../fonts/anton.ttf);
}
@font-face {
font-family: 'varela';
src: url(../fonts/varela.ttf);
}
/*page body*/
html, body{
  background-color: #fff;
  color: #2C2C2C;
  height: 100%;
}
nav{
  padding: 0 25px 0 25px;
}
section footer{
  padding: 10px 20px 10px 20px;
  margin: 10px 0 10px 0;
}
h2{
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'anton', sans-serif;
  font-weight: lighter;
}
h3{
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'varela', sans-serif;
  font-weight: bolder;
  padding-bottom: 10px;
}
p{
  font-size: 16px;
  font-family: 'varela', sans-serif;
}
ul li{
  font-family: 'varela', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  list-style: none;
}
ul{
  padding: 0px;
}
a{
  color: #2C2C2C;
  text-decoration: none;
}
a:focus, a:hover {
  color: #2C2C2C;
  text-decoration: none;
}
.white-font{
  color: #fff;
}
/*flexbox class*/
.flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
/*navbar*/
.navbar{
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  opacity: .9;
}
/*containers*/
.container{
  width: 100%;
  padding: 5px 50px 5px 50px;
}
.max-height{
  min-height: 50vh;
}
/*hero banner*/
.hero{
  background-image: url("../img/hero2.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 55%;
  width: 100%;
}
.sectiontitle{
  text-transform: uppercase;
  font-size: 28px;
}
.nav-text{
  font-size: 14px;
  padding: 0px;
}
.bgcolor{
  background-color: #7aacb3;
  color: #fff;
}
.top{
  padding-top: 15vh;
}
/*about me*/
.about-hero{
  background-image: url("../img/aboutme.jpg");
  background-position: center;
  color: #fff;
  height: auto;
  background-size: cover;
  min-height: 50vh;
}
.skills{
  min-height: 20vh;
}
/*circles*/
.circle {
  display: inline-block;
	width: 16px;
	height: 16px;
  border: solid 3px #fff;
	border-radius: 50%;
  float: right;
  margin-right: 10px;
}
.circle.filled {
  background-color: #fff;
}
.circle:first-of-type {
  margin-right: 30px;
}
/*featured works section*/
.work-text{
  float: left;
  width: 35%;
  border-right: 2px solid #2C2C2C;
  font-size: 16px;
  font-family: 'varela', sans-serif;
}
.work-subtitle{
  font-size: 20px;
  padding-top: 10px;
}
.right-image{
  float: right;
  width: 60%;
}
/*slick js css modifications*/
.single-item {
    width: 95%;
    height: auto;
    margin: auto;
}
/*typed js css*/
.typed-cursor{
	visibility: hidden;
    opacity: 1;
    font-weight: 100;
    font-size: 20px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
